:root {
  --padding: 1rem;
  --box-shadow: 0 0 30px gray;
  --border: 1px solid black;
}

nav {
  background-color: rgba(3, 78, 200, 0.8);
  padding: var(--padding);
}

nav a {
  color: white;
  display: block;
  padding: var(--padding);
}

main {
  max-width: 840px;
}

h1 {
  color: rgb(50, 34, 26);
}

main img {
  width: 150px;
  height: auto;
  border: var(--border);
  padding: 1px;
  box-shadow: var(--box-shadow);
}

p {
  padding: 0px;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 2px dotted black;
  padding: var(--padding);
  background-color: rgb(234, 224, 214);
  color: black;
  text-align: center;
}

aside img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  box-shadow: var(--box-shadow);
}

footer {
  margin-top: 20px;
  border-top: var(--border);
  text-align: center;
}