* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: rgba(224, 171, 159, 0.8);
  --padding: 1rem;
  --box-shadow: 0 0 30px gray;
  --border: 1px solid black;
}

nav {
  background-color: var(--background-color);
  padding: var(--padding);
}

nav a {
  color: rgb(27, 13, 228);
  display: block;
  padding: var(--padding);
}

main {
  max-width: 840px;
}

h1 {
  color: rgb(50, 34, 26);
}

main img {
  float: right;
  width: 150px;
  height: auto;
  margin: 1rem auto;
  border: var(--border);
  padding: 1px;
  box-shadow: var(--box-shadow);
}

p {
  padding: 0px;
}

aside {
  position: relative;
  width: 20rem;
  text-align: center;
}

aside h2 {
  position: absolute;
  left: 5rem;
  right: 5rem;
  top: 9.75rem;
  bottom: 5rem;

}

aside img {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  box-shadow: var(--box-shadow);
}

footer {
  margin-top: 20px;
  border-top: var(--border);
  text-align: center;
}

.box {
  margin: 1rem;
  border: 2px dotted black;
  padding: var(--padding);
  background-color: var(--background-color);
  color: black;
  clear: both;
}